*/out/*



cs144_bufferbloat/http/nohup.out
cs144_bufferbloat/index.html
cs144_bufferbloat/iperf-recv.txt
cs144_bufferbloat/iperf.txt

# defaut ignore mininet-tests results
mininet-tests/*/results

mininet-tests/cpuiso/cpu/cpumonitor
mininet-tests/cpuiso/cpu/steal_cpu
mininet-tests/cpuiso/cpu/timer
mininet-tests/cpuiso/cpu/cpu-stress
mininet-tests/cpuiso/cpu/gettimeofday

mininet-tests/udping/results/
mininet-tests/udping/udping
