
EduLogging/.idea/

*.pyc


*.pyc

*.pyc

.idea/*
.idea/misc.xml

.idea/misc.xml

.idea/dbnavigator.xml

.idea/ArsenalPython.iml

.idea/misc.xml

.idea/workspace.xml


scikit/notebook/.ipynb_checkpoints/

douban_kdd/data/dataset.json

pythonchallenge/channel/
*/.ipynb_checkpoints/

yun_sdk/baidu/ASR/config.py

yun_sdk/baidu/config.py

yun_sdk/baidu/tmp.mp3
