
EduLogging/.idea/

*.pyc


*.pyc

*.pyc

# c & cpp default out
a.out

# ns3 default out
out.nam


.idea/*
.idea/misc.xml

.idea/misc.xml

.idea/dbnavigator.xml

.idea/ArsenalPython.iml

.idea/misc.xml

.idea/workspace.xml


scikit/notebook/.ipynb_checkpoints/

douban_kdd/data/dataset.json

pythonchallenge/channel/
*/.ipynb_checkpoints/

yun_sdk/baidu/ASR/config.py

yun_sdk/baidu/config.py

yun_sdk/baidu/tmp.mp3

.idea/

.idea/modules.xml

sdn/akaedu/out/
sdn/akaedu/*/*.o

sdn/iproute2

.DS_Store

ns2/ns_by_example/output/

# ns3 output end eclipse project files
ns3/practical_csocket2/output/
ns3/.cproject
ns3/.project
ns3/.settings
ns3/scratch/.python-version
