<!--从 base 页面继承下来 -->
{% extends 'base.html' %}

{% block title %}欢迎光临  {% endblock %}

{% block head_text %} 自定义标题文字 Person  {% endblock %}

{% block content %}

<!--还可以include 新的ad页面-->
{% include 'ad.html' %}

<h2>显示数据库所有的person </h2>
<h5>（还没完善，目前仅在一行中显示）</h5>

<div>
    <ul>
        <li>a</li>
        <li>b</li>
        <li> <font color="blue">{{ person_list }} </font></li>

    </ul>
</div>


<h5>备注</h5>
<p>{ % block %}    用在django 模板与模板之间定义</p>
<p>{ { var name} } 用在django view与模板之间交互变量</p>

<h5>其他操作CRUD方法</h5>
<pre>
REF: http://www.ziqiangxuetang.com/django/django-models.html
    
    获取对象有以下方法：

Person.objects.all()

Person.objects.all()[:10] 切片操作，获取10个人，不支持负索引，切片可以节约内存

Person.objects.get(name=name)



get是用来获取一个对象的，如果需要获取满足条件的一些人，就要用到filter

Person.objects.filter(name="abc") # 等于Person.objects.filter(name__exact="abc") 名称严格等于 "abc" 的人

Person.objects.filter(name__iexact="abc") # 名称为 abc 但是不区分大小写，可以找到 ABC, Abc, aBC，这些都符合条件



Person.objects.filter(name__contains="abc") # 名称中包含 "abc"的人

Person.objects.filter(name__icontains="abc") #名称中包含 "abc"，且abc不区分大小写



Person.objects.filter(name__regex="^abc") # 正则表达式查询

Person.objects.filter(name__iregex="^abc")# 正则表达式不区分大小写



filter是找出满足条件的，当然也有排除符合某条件的

Person.objects.exclude(name__contains="WZ") # 排除包含 WZ 的Person对象

Person.objects.filter(name__contains="abc").exclude(age=23) # 找出名称含有abc, 但是排除年龄是23岁的

</pre>

{% endblock %}



